/* Lists of Stories */
.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fc7702e3;
}

#favorited-stories,
#my-stories {
  list-style: none;
  padding-left: 20px;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Story List Items */
.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  font-size: 0.85rem;
  color: rgb(8, 74, 154);
  padding: 6px 0;
}

.story-user {
  display: block;
  margin-left: 2em;
  font-size: 0.85rem;
  color: rgb(195, 109, 3);
}

.star,
.trash-can {
  margin: 0 5px;
  font-size: .7rem;
  cursor: pointer;
}

.trash-can:hover {
  color: rgb(248, 110, 138);
}